@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Orbitron&family=Poppins:wght@100;400&family=Work+Sans:wght@400;600;700;800&display=swap");

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.calculatorDisplay {
  width: 95%;
  min-height: 8rem;
  background-color: #30a2ff;
  font-family: "Orbitron", sans-serif;
}

.screen {
  min-height: 7rem;
  width: 98% !important;
}

.calculatorKeys {
  width: 95%;
  background-color: #30a2ff;
  margin-top: -0.3rem;
}

button {
  width: 25%;
  height: 5rem;
  font-size: 1.3rem;
  background-color: #fff5b8;
  border: 1px solid black;
  border-radius: 20px;
}

button:hover {
  scale: 1.07;
}

@media (min-width: 1024px) {
  .calculatorDisplay {
    width: 40%;
  }

  .calculatorKeys {
    width: 40%;
  }
}
